@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

:root{
--white-color:white;
--head-color:#262626;
--black-color:black;
}

.page-header {
  display: flex;
  background-color: var(--head-color);
  justify-content: space-between;
  padding: 15px 20px;
  color: var(--white-color);
  align-items: center;
  flex-wrap: wrap;
}

.page-header > * {
  margin-top: 10px;
  flex-grow: 0.5;
}

.logo {
  padding: 10px 15px;
  border-radius: 15px;
  font-family: cursive;
  font-size: 25px;
  font-weight: bold;
  color: inherit;
  text-align: left;
  margin: 0 auto;
}

.navigation {
  text-align: center;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.menu {
  display: inline-block;
}

.link {
  text-decoration: none;
  color: var(--white-color);
}

.link-margin {
  margin-left: 4px;
}

.contact-button {
  text-align: right;
  margin: 10px;
}

.link-button {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid var(--white-color);
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--head-color);
  font-size: 10px;
}

.link-button:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}

.images {
  min-height: 100vh;
  background-image: url("../images/Sea.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
